//Import all .scss files here
@import "Lib";
@import "components/overview/Seminar";
@import "components/general/General";
@import "components/mainwrapper/MainWrapper";

body {
  margin: 0;
  font-family: $defaultFont;
  font-weight: 300;
  background-color: $mainBackground;
  color: $black;
}

h1, h2, h3, h4 {
  font-family: $headerFont;
  color: $primaryColor;
}

.aline-logo {
  height: 300px;
}

a{
  color: $black;
  text-decoration: none;
}