//Fonts
$defaultFont: 'Roboto', sans-serif;
$headerFont: 'Roboto Slab', serif;

//Colors. For more infos see https://material.google.com/style/color.html#color-color-schemes
$white: #fff;
$black: #212121;

$searchBackground: #F5F5F5; //Background for the search view
$mainBackground: #FAFAFA; //The general background color of the sites
$overlayBackground: #FFFFFF; //Like the cards for our seminars

$primaryColor: #FF5722; //The most widely used color
$accentColor: #CDDC39; //interactive elements like buttons or single words that should be highlighted
$errorColor: #D32F2F;

//Icons (dark icons)
$activeIconOpacity: 54%;
$inactiveIconOpacity: 38%;

//General
$spacing: 10px;

//Material Design Stuff
$headerShadow: 0 2px 5px rgba(0, 0, 0, 0.26); //box-shadow
$tileShadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
$tileShadowHover: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
$lowerOpacity: 0.7;
$fullOpacity: 1;