.header {
  padding: $spacing $spacing 0 $spacing;
  background-color: $primaryColor;
  box-shadow: $headerShadow;
  height: 35px;
  //The navigation links
  .navlink a {
    color: $white;
    opacity: $lowerOpacity;
    text-transform: uppercase;
    &.active {
      border-bottom: 3px solid $accentColor;
      padding-bottom: 7px;
      opacity: $fullOpacity;
    }
  }
  //The profile button
  .profile {
    float: right;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .dropdown {
      position: absolute;
      right: 0;
      top: 39px;
      width: 85px;
      margin-left: 0;
      text-align: center;
      box-shadow: $tileShadow;
      background-color: rgb(48, 48, 48);
      .user-name {
        font-weight: 400;
        &:hover {
          cursor: default;
        }
      }
      p {
        padding: $spacing;
        margin: 0;
        white-space: nowrap;
      }
      .open-profile,
      .log-out {
        &:hover {
          background-color: $primaryColor;
          color: $white;
        }
      }
      //Visible or not
      &.invisible {
        display: none;
      }
      //The dropdown caret
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        box-sizing: border-box;
        border: 5px solid $white;
        border-color: transparent transparent $white $white;
        transform-origin: 0 0;
        transform: rotate(135deg);

      }
    }
  }
  div {
    display: inline-block;
  }
  i, a {
    vertical-align: middle;
  }
  div + div {
    margin-left: 20px;
  }
}

.content {
  a {
    color: $accentColor;
  }
}

.material-icons {
  &.md-36 {
    font-size: 36px;
  }
  &.md-light {
    color: $white;
  }
}