.header {
  padding: $spacing $spacing 0 $spacing;
  background-color: $primaryColor;
  box-shadow: $headerShadow;
  height: 29px;
  //The navigation links
  .navlink a {
    color: $white;
    opacity: $lowerOpacity;
    text-transform: uppercase;
    &.active {
      border-bottom: 3px solid $accentColor;
      padding-bottom: 7px;
      opacity: $fullOpacity;
    }
  }
  //The profile button
  .profile {
    float: right;
    position: relative;
    top: -15px;
    &:hover {
      cursor: pointer;
    }
  }
  div {
    display: inline-block;
  }
  i, a {
    vertical-align: middle;
  }
  div + div {
    margin-left: 20px;
  }
}

.content {
  width: 1052px;
  margin: 0 auto;
  a {
    color: $accentColor;
  }
}

.material-icons {
  &.md-36 {
    font-size: 36px;
  }
  &.md-light {
    color: $white;
  }
}

#loadingIndicator {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2000;
  visibility: hidden;
  //Animation for darkening the background. If we start with a full black background, it will look strange if the spinner just get shown for a very short amount of time
  animation-name: darkenBackground;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  //The Spinner itself
  > div {
    top: calc(40%);
    left: calc(50% - 40px);
  }
}

@keyframes darkenBackground {
  from {
    background-color: transparent;
    visibility: hidden;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
  }
}