.header {
  padding: $spacing $spacing 0 $spacing;
  background-color: $primaryColor;
  box-shadow: $headerShadow;
  height: 29px;
  //The navigation links
  .navlink a {
    color: $white;
    opacity: $lowerOpacity;
    text-transform: uppercase;
    &.active {
      border-bottom: 3px solid $accentColor;
      padding-bottom: 7px;
      opacity: $fullOpacity;
    }
  }
  //The profile button
  .profile {
    float: right;
    position: relative;
    top: -15px;
    &:hover {
      cursor: pointer;
    }
  }
  div {
    display: inline-block;
  }
  i, a {
    vertical-align: middle;
  }
  div + div {
    margin-left: 20px;
  }
}

.content {
  a {
    color: $accentColor;
  }
}

.material-icons {
  &.md-36 {
    font-size: 36px;
  }
  &.md-light {
    color: $white;
  }
}