.login-form {
  h1 {
    margin-bottom: 0;
  }
  img {
    height: 300px;
    margin: 10px 0 10px 0;
  }
  text-align: center;
  .button-wrapper {
    margin-top: 10px;
  }
}

.search-bar {
  & > div {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
  }
  .dropdown, button{
    vertical-align: middle;
  }
  input[type=checkbox]{
    font-size:16px;
  }
}

.error-page,
.not-found{
  margin: 0 15px 0 15px;
}


.no-seminar-found,
.no-employee-found{
  width: 100%;
  text-align: center;
  p {
    margin: 0;
  }
}

//Output Properties with label and text
.output-properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .property {
    width: 47%;
    font-size: 16px;
    padding-bottom: 3px;
    label {
      display: block;
      color: $gray;
      font-size: 12px;
      margin-bottom: 5px;
    }
    border-bottom: 1px solid $gray;
    margin-bottom: 20px;
  }
}

//Smaller text showing informations/tipps for the user
.tipp-text{
  font-size: 80%;
}