.login-form{
  label{
    width: 100px;
    display: inline-block;
  }
}

.login-error {
  color: $errorColor;
  border-top: 1px solid $errorColor;
  margin-top: $spacing;
  &.invisible {
    display: none;
  }
}

.search-bar{
  padding: $spacing;
  background-color: $searchBackground;
}

button{
  background-color: $accentColor;
}