/**------- Profile and Booking history ---------**/
.profile,
.booking-history {
  h3 {
    margin: 0 0 10px 0;
  }
  .bookings {
    position: relative;
  }
  .history-button {
    position: absolute;
    top: -8px;
    right: 0;
  }
  .bookings {
    .booking {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    .booking + .booking{
      margin-top: 10px;
    }
  }
}

.profile .bookings .booking{
  .name{
    width: 350px;
  }
  .date{
    width: 200px;;
  }
}

/**------- Booking history ---------**/
.booking-history {
  .back-button {
    display: block;
  }
  .summary-item + .summary-item{
    margin-top: 30px;
  }
}
