$seminar-background: #D7EB05;
$button-color: #EB0564;
.seminar-tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px 0 5px;
  .seminar-tile{
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    padding: 10px;
    margin: $spacing / 2;
    display: inline-block;
    a{
      display: block;
      height: 100%;
      width: 100%;
    }
    .name{
      color: $accentColor;
      height: 40px;
    }
    .trainer{
      height: 90px;
      overflow: hidden;
      word-wrap: break-word;
    }
  }
}
