.division{
  .employees {
    width: 600px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    .employee {
      height: 50px;
      .name {
        cursor: pointer;
        display: inline-block;
        float: left;
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
        margin-left: 50px;
        text-align: center;
        i {
          vertical-align: middle;
          position: relative;
          margin-right: 5px;
        }
      }
      .seminar-proof {
        float: right;
        width: 200px;
        margin-right: 50px;
        height: 50px;
      }
    }
    .employee + .employee {
      margin-top: 10px;
    }
  }

  .search-bar .text-search{
    margin-left: 0;
  }
}

// The confirm button in the booking overview dropdown
.confirm-all-button{
  text-align: center;
  margin-bottom: 5px;
}
